:root {
  --blue-dark: #0E0578;
  --gray: #383838;
  --gray-light: #686565;
  --ultramarine: #2000E7;
  --purple-light: #8775F9;
  --yellow: #F2BD00;
  --yellow-light: #FFD696;
  --pink: #F965FC;
}

a {
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font: 400 24px/1.5 "Poppins", sans-serif;
}

.m-0 {
  margin: 0;
}

.ta-c {
  text-align: center;
}

.container {
  display: flex;
}

.fz-30 {
  font-size: 30px;
}

.hdr {
  font-weight: 700;
  font-size: 2rem;
}

.um {
  color: var(--ultramarine);
}

.gr-d {
  color: var(--gray);
}

.gr-l {
  color: var(--gray-light);
}

.blk {
  color: black;
}

.bl-d {
  color: var(--blue-dark);
}

.yw {
  color: var(--yellow);
}

.wh {
  color: white;
}

.block-space {
  height: 272px;
}

.nav-container {
  justify-content: space-between;

  padding: 45px 78px;
}

.nav-links {
  width: 740px;

  justify-content: space-between;
  align-items: center;
}

.intro-container {
  justify-content: space-between;

  padding: 150px 80px;
}

.intro-info {
  flex-direction: column;

  width: 572px;
}

.intro-info p:last-of-type {
  margin-top: 21px;
}

.intro-designer {
  width: 447px;

  margin-top: 5px;
}

.intro-buttons {
  margin-top: 90px;
}

.intro-buttons button:first-of-type {
  background-color: var(--ultramarine);
}

.btn {
  width: 246px;
  height: 72px;
  
  margin-right: 79px;

  box-shadow: 11px 21px 15px 6px rgba(0,0,0,.25);
  
  border: solid 2px var(--ultramarine);
  border-radius: 10px;
  
  font: inherit;
}

.intro-photo {
  width: 564px;
  height: 564px;

  border-radius: 0px 0px 0px 191px;

  background: url("../img/intro-designer.png"), lightgray 50% / cover no-repeat;
  box-shadow: 36px -32px 0px 0px var(--purple-light);
}

.about-container {
  align-items: center;

  padding-bottom: 206px;
  padding-left: 46px;
}

.about-info {
  width: 415x;
}

.about-hdr {
  letter-spacing: 16.8px;
}

.about-txt {
  margin-top: 14px;
}

.about-btn {
  margin-top: 26px;
  margin-left: 31px;

  background-color: var(--ultramarine);
}

.about-photo {
  flex-shrink: 0;

  width: 925px;
  height: 925px;

  background: url("../img/about-me.png") no-repeat;
}

.portfolio-container {
  flex-direction: column;
  justify-content: center;

  padding: 35px 108px;

  background: rgba(255, 214, 150, 0.20);
}

.portfolio-info {
  flex-direction: column;
}

.portfolio-hdr {
  letter-spacing: 9.6px;
}

.portfolio-projects {
  height: 784px;

  justify-content: space-between;
  flex-wrap: wrap;

  margin: 46px 0 30px;
}

.portfolio-project {
  flex: 1 0 33.3%;
}

.portfolio-project:nth-child(3n + 1) {
  background-position: 0 50%;
}

.portfolio-project:nth-child(3n + 3) {
  background-position: 100% 50%;
}

.pp-car {
  background: url("../img/pp-car.png") 50% / 246px 180px no-repeat;
}

.pp-interface {
  background: url("../img/pp-interface.png") 50% / 246px 180px no-repeat;
}

.pp-letter {
  background: url("../img/pp-letter.png") 50% / 246px 180px no-repeat;
}

.pp-woman {
  background: url("../img/pp-woman.png") 50% / 246px 180px no-repeat;
}

.contact-container {
  flex-direction: column;

  padding: 67px 0 190px;

  background: rgba(67, 186, 253, 0.06);
}

.contact-hdr {
  letter-spacing: 17.28px;
}

.contact-title {
  margin-top: 10px;
}

.contact-form-wrap {
  height: 958px;
  
  padding-left: 66px;
  
  background: url("../img/contact-me.png") no-repeat right center / 55%;
}

.contact-form {
  width: 653px;

  padding-top: 179px;

  flex-direction: column;
  justify-content: space-between;
}

.contact-form #message {
  height: 219px;

  resize: none;
}

.contact-style {
  padding: 23px 55px;
  
  background: white;
  box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
  
  border: none;
  
  font: inherit;
  font-size: 32px;
}

.contact-field::placeholder {
  color: black;
}

.contact-btn {
  width: 337px;

  align-self: center;
}

footer {
  font: 400 31px/1.5 'Jost', sans-serif;
}

.footer-container {
  flex-direction: column;
  
  padding: 132px 50px 0 26px;

  background: rgba(255, 214, 150, 0.20);
}

.footer-top {
  justify-content: space-between;
  
  padding-bottom: 90px;
  
  border-bottom: solid 2px black;
}

.sub-hdr {
  margin-left: 47px;

  letter-spacing: 16.8px;
}

.sub-form {
  position: relative;

  width: 432px;

  margin-top: 50px;
}

.sub-style {
  flex-shrink: 0;

  border-radius: 30px;
  border: none;

  font: inherit;
}

.sub-email {
  width: 323px;
  height: 97px;

  padding: 0;
  padding-left: 33px;

  background-color: black;
}

.sub-email::placeholder {
  color: white;
}

.sub-btn {
  width: 178px;
  height: 97px;

  position: absolute;
  right: 0;
  
  background-color: var(--pink);
}

.footer-links-container {
  justify-content: space-between;

  height: 365px;

  padding-left: 104px;
}

.footer-links-col {
  flex-direction: column;
}

.footer-links {
  flex-direction: column;
  justify-content: space-between;

  margin-top: 22px;
}

.footer-links-hdr {
  font-weight: 700;
}

.footer-link {
  width: 100%;
}

.footer-bottom {
  justify-content: space-between;

  padding: 70px 0 50px;
}

.footer-copyright {
  flex-shrink: 0;

  margin-right: 292px;

  font-size: 32px;
}

.footer-logos {
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
